h1{
    height:40px;
    margin-bottom:30px;
    padding-bottom:1px solid;
    text-size-adjust:20px;
    color:white;
    text-align:center;
    
}
.cuadro{
    background-color: #4e4d4d;
    margin:40px 160px;
    border-top:3px solid #017bab;
    padding:20px 30px;
    margin-left:auto;
    margin-right:auto
}
    
body{
    background-image: url(../img/bgs.png);
  
}
tr{
    color:white;
background-image:url(../img/img2.jpg);
border:2px;
border-color: blue;
text-align: center;
}
table{
    margin-left:auto;
    margin-right:auto;}
    td{
        padding: 10px;
        border-top:2px solid #017bab;
        border-right:2px solid #017bab ;

    }